@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    height: 390px;
    background: #0093ae;
    overflow: hidden;
}

.header .container h4 {
    font-size: 30px;
}

.header .container p {
    font-size: 15px;
    font-weight: 200;
    margin-top: -5px;
}

.header h2 {
    font-size: 40px;
}

.header p {
    font-size: 18px;
    font-weight: 200;
}

.header .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../assets/wave.png");
    background-size: 1000px 100px;
}

.header .wave1 {
    -webkit-animation: animate 30s linear infinite;
    animation: animate 30s linear infinite;
    z-index: 999;
    opacity: 1;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    bottom: 0;
}

.header .wave2 {
    -webkit-animation: animate2 15s linear infinite;
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.5;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    bottom: 10px;
}

.header .wave3 {
    -webkit-animation: animate2 30s linear infinite;
    animation: animate2 30s linear infinite;
    z-index: 997;
    opacity: 0.2;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    bottom: -15px;
}

.header .wave4 {
    -webkit-animation: animate2 5s linear infinite;
    animation: animate2 5s linear infinite;
    z-index: 996;
    opacity: 0.7;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    bottom: 15px;
}

@-webkit-keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@-webkit-keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

.menu .btn_keluhan {
    background: #f5f5f5;
    width: 352px;
    height: 107px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 20px 0px rgba(65, 65, 65, 0.8);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(65, 65, 65, 0.8);
    -moz-box-shadow: 10px 10px 20px 0px rgba(65, 65, 65, 0.8);
}

.menu .btn_keluhan span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #b2e3ea;
    width: 80px;
    height: 80px;
    margin-left: 15px;
}

.menu .btn_keluhan .title_menu h5 {
    font-size: 21px;
}
.menu .btn_keluhan .title_menu p {
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.menu .icon_menu {
    margin-top: 50px;
}
.icon_menu a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0093ae;
    border-radius: 50%;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.icon_menu a i {
    color: #f2f2f2;
    font-size: 27px;
}

.icon_menu a:hover {
    color: #000000;
    background-color: #10101066;
}

.footer {
    background: linear-gradient(to top, #0093ae 0%, #ffff 100%);
    color: #fff;
    padding: 30px 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer p {
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.form_keluhan {
    max-width: 800px;
}

.form_keluhan,
.data_keluhan {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    z-index: 1000;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    background-color: #fff;
}

.popup.show .form_keluhan,
.data_popup.show .data_keluhan {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.form_keluhan .head_title,
.data_keluhan .head_title {
    font-weight: 600;
    font-size: 30px;
    line-height: 35.16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_keluhan .head_title span,
.data_keluhan .head_title span {
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

form .input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form .input_box span.title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

form .input_box input {
    height: 48px;
    padding: 0 15px;
}

form .input_box .custom_file {
    padding-top: 7px;
}

form .input_box textarea {
    padding-left: 15px;
    padding-top: 8px;
    min-height: 48px;
    max-height: 200px;
    resize: vertical;
    overflow: auto;
}

form .input_box .select2-container .select2-selection--single {
    height: 48px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

form
    .input_box
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    padding-top: 50px;
    padding-right: 50px;
}

form .input_box .select2-container,
form .input_box .select2-selection--single {
    width: 100% !important;
}
form .input_box .select2-search__field {
    width: 100% !important;
}

form .input_box input,
form .input_box textarea,
form .input_box .select2-container .select2-selection--single {
    border-radius: 3px;
    border: 1px solid #00a2b9;
    background-color: #fff;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

form .input_box input:focus,
form .input_box textarea:focus,
form .input_box .select2-container .select2-selection--single:focus {
    border: 1px solid #0093ae;
    outline: none;
    border-bottom-width: 3px;
}

form .button {
    height: 45px;
    margin-top: 40px;
}
form .button input {
    height: 100%;
    width: 140px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #035b71;
}
form .button input:hover {
    background-color: #0093ae;
    transform: scale(0.99);
}

.data_popup {
    max-width: 800px;
    display: flex;
    justify-content: center;
}
.data_keluhan {
    padding: 30px 20px;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
}

.data_keluhan .head_title .filter {
    font-size: 23px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.data_keluhan .head_title .filter span {
    font-size: 20px;
}

.data_keluhan .laporan table {
    width: 100%;
    border-collapse: collapse;
}
.data_keluhan .laporan table .bagian_1 {
    text-align: left;
}

.data_keluhan .laporan table td {
    border-bottom: 1px solid #6d6d6d;
    border-left: none;
    border-right: none;
    border-top: 1px solid #6d6d6d;
    text-align: center;
}

.data_keluhan .laporan th {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 10px;
    background-color: #d9d9d9;
    color: #6d6d6d;
    text-align: center;
}

.data_keluhan .laporan td {
    padding: 10px;
}

.data_keluhan .laporan .table-container {
    max-height: 450px;
    overflow-y: auto;
}

.input_filter {
    display: none;
}

form .input_data {
    display: flex;
    flex-direction: column;
    width: 350px;
}

form .input_data .title_name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

form .input_data input {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    background-color: #d9d9d9;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .input_data input:focus {
    border: 1px solid #0093ae;
    outline: none;
    border-bottom-width: 2px;
}

.search_data form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.search_data form button {
    margin-left: 10px;
    height: 40px;
    padding: 0 25px;
    border-radius: 3px;
    border: 1px solid #00a2b9;
    background-color: #0093ae;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search_data form button:hover {
    background-color: #035b71;
}

@media screen and (max-width: 480px) {
    .header .container h4 {
        font-size: 22px;
    }

    .header .container p {
        font-size: 10px;
    }

    .header .container .navbar .iconplus {
        display: none;
    }
    .header .container .navbar .iconnet {
        margin-top: 10px;
    }

    .header h2 {
        font-size: 19px;
    }

    .header p {
        font-size: 11px;
    }
    /* .content {
        display: flex;
        flex-direction: column;
        background-color: #000000;
    } */

    .menu .icon_menu {
        display: none;
    }

    .data_keluhan {
        width: 100%;
    }
}
